
.qnBox {
    composes: dark-grn-bkgrnd from '../../../css/colors.css';
    composes: rounded-corners from '../../../css/layout.css';
}

.banner {
    position: relative;
    height: 35px;
    composes: med-grn-bkgrnd from '../../../css/colors.css';
}

.bannerBase {
    position: absolute;
    top: 15px;
    left: 0;
    width: 100%;
    height: 20px;
    padding-top: 2px;
    composes: lt-grn-bkgrnd from '../../../css/colors.css';
    composes: white-text from '../../../css/colors.css';
    composes: rounded-corners-top from '../../../css/layout.css';
    composes: center from '../../../css/typography.css';
    composes: small-text from '../../../css/typography.css';
}

.triangle {
    background-image: url('./images/Triangle.png');
    display: block;
    -webkit-background-size: cover;
    background-size: cover;
    width: 16px;
    height: 12px;
    position: absolute;
    top: 3px;
    left: 47.5%;
}