.smiley-box-lg {
    display: inline-block;
    position: relative;
    width: 125px;
    height: 100px;
    padding: 0;
    margin: 20px 0;
}

.smiley-box-sm {
    display: inline-block;
    margin: 20px 0;
}


.mood-selector-box {
    margin: 10px 0;
    padding: 0;
}
