/* Acknowledgements to css-tricks */

.Rating {
    cursor: pointer;
    display: block;
    white-space: nowrap;
    font-size: 18px;
    border: 1px solid #e2e2e2;
    background-color: #f7f7f7;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    position: relative;
    height: 30px;
    margin-top: 4px;
}

.highlight-box-1 {
    display: none;
}

.highlight-box-2 {
    height: 28px;
    width: 27%;
    position: absolute;
    top: 0;
    left: 1px;
    z-index: 1;
    background-color: #fef9b2;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
}

.highlight-box-3 {
    height: 28px;
    width: 50%;
    position: absolute;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    top: 0;
    left: 1px;
    z-index: 0;
    background-color: #fef9b2;
}

.highlight-box-4 {
    height: 28px;
    width: 75%;
    position: absolute;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    top: 0;
    left: 1px;
    z-index: 1;
    background-color: #fef9b2;
}

.highlight-box-5 {
    height: 28px;
    width: 97%;
    position: absolute;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    top: 0;
    left: 1px;
    z-index: 1;
    background-color: #fef9b2;
}

.star-overbox-1 {
    position: absolute;
    top: -5px;
    left: 0;
}

.star-overbox-2 {
    position: absolute;
    top: -5px;
    left: 22%;
}

.star-overbox-3 {
    position: absolute;
    top: -5px;
    left: 45%;
}

.star-overbox-4 {
    position: absolute;
    top: -5px;
    right: 22%
}

.star-overbox-5 {
    position: absolute;
    top: -5px;
    right: 0;
}

.star-box {
    color: #c3c3c3;
    display: inline-block;
    position: relative;
    width: 2.1em;
    height: 2.1em;
}



.star:before {
    content: '\2605';
    position: absolute;
    top: 5px;
    left: 9px;
    z-index: 10;
}

.RatingTmp:before {
    color: #757575;
    content: '\2605';
    top: 5px;
    left: 9px;
    padding: 1px;
    position: absolute;
    z-index: 10;
}

.RatingOn:before {
    color: #ffe100;
    content: '\2605';
    top: 5px;
    left: 9px;
    padding: 1px;
    position: absolute;
    z-index: 10;
}

.RatingSelected:before {
    color: #ffffff;
    content: '\2605';
    top: 5px;
    left: 9px;
    padding: 1px;
    position: absolute;
    z-index: 10;
}

.RatingOnTmp:before {
    color: #c3c3c3;
    content: '\2605';
    top: 5px;
    left: 9px;
    padding: 1px;
    position: absolute;
    z-index: 10;
}

.star-selected-box {
    background-color: #ffe100;
    display: inline-block;
    position: relative;
    width: 2.1em;
    height: 2.1em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #f4cc43;
    z-index: 10;
}