.rounded-corners {
    -webkit-border-radius:3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.rounded-corners-top {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.top-spacer {
    margin-top: 15px;
}

.bottom-spacer {
    margin-bottom: 15px;
}
