body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}


.header {
    background-color: #006e77;
}

#header-img {
    padding-left: 5px;
}

.main {
    background-color: #00828c;
}

.white-text {
    color: #ffffff;
}

.ltgrn-text {
    color: #00e5cf;
}

.thanks {
    font-size: 12px;
}



.qn-container {
    background: #006e77;
}

.question {
    margin: 5px;
    background-color: #ffffff;
}

.question input {
    color: #c3c3c3;
}

.question p {
    color: #575757;
}

.addl-input {
    background-color: #00e5cf;
}

.footer {
    font-size: 10px;
}

#smiley-box {
    position: relative;
    width: 130px;
    height: 120px;
}

#smiley {
    position: absolute;
    left: 10px;
    z-index: 10;
}

#edit {
    position: absolute;
    top: 40px;
    left: 75px;
}


.qn-banner {
    background-color: #00e5cf;
    font-size: 12px;
}



