body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

input[type="text"] {
    width: 95%;
    height: 50px;
    border-radius: 3px;
    font-size: 10px;
    text-align: center;
    border: 1px solid #c3c3c3;
}

.header {
    background-color: #006e77;
}


#header-img {
    display: block;
}

.main {
    background-color: #00828c;
}

.white-text {
    color: #ffffff;
}

.ltgrn-text {
    color: #00e5cf;
}

#thanks {
    font-size: 12px;
}

.mood-text-box {
    display: block;
    margin-bottom: 15px;
}

#mood-text {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.qn-container {
    background: #006e77;
    padding: 0;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-bottom: 20px;
}

.question {
    margin: 5px;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 10px 10px;
}

.question input {
    color: #c3c3c3;
}

.question p {
    color: #575757;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 700;
}

.addl-input {
    background-color: #00e5cf;
    margin: 0 5px;
    border-radius: 3px;
    padding: 10px 10px;
}

.footer {
    font-size: 8px;
}

#smiley-box {
    display: inline-block;
    position: relative;
    width: 130px;
    height: 100px;
    margin-top: 20px;
}

#smiley {
    position: absolute;
    left: 10px;
    z-index: 10;
}

#edit {
    position: absolute;
    top: 40px;
    left: 75px;
}


.banner-box {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 0;
    background-color: #00828c;
    height: 35px;
}


.qn-banner {
    position: absolute;
    top: 15px;
    left: 0;
    background-color: #00e5cf;
    font-size: 12px;
    width: 100%;
    height: 20px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.triangle {
    position: absolute;
    top: 0;
    left: 47.5%;
    width: 20px;
    height: 20px;
}

.title {
    padding: 5px 0;
}

.send-button {
    max-height: 30px;
    width: auto;
    margin: 20px auto;
}

.sm-smiley {
    display: inline-block;
    padding: 0 5px;
}

.selection-view {
    background-color: #ffffff;
    border-radius: 3px;
    margin: 20px 0;
    padding: 10px 0;
}

.rating-buttons {
    display: inline-block;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    /top: 50%;/
    /*z-index: 2;*/
}



.rating-buttons input[type="radio"] {
    display: none;
}



.highlighted-container {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fef8b2;
    height: 100%;
}

.star-container {
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #c3c3c3;
    border-radius: 20px;
    height: 45px;
    background-color: #f7f7f7;
    /*overflow: hidden;
    clear: both;
    border: 1px solid #c3c3c3;
    margin-bottom: 10px;
    height: 45px;*/
}

